<header role="banner">
	<h1>
		- if(is_home())
			= link_to(get_bloginfo("name"), get_bloginfo("url"))
		- else
			= link_to(get_bloginfo("name"), get_bloginfo("url"), array("class" => "gotohome", "title" => "Back to front page"))
	</h1>
</header>

<aside role="complementary">
	
	<nav role="navigation">		
		<?php wp_nav_menu(array(
			"theme_location" => "main_menu",
			"container" => false,
			"items_wrap" => '<ul>%3$s</ul>'
		));?>
	</nav>
	
	- if(is_single())
		<section>
			<h2>What's this?</h2>
		
			<p>
				I'm Johan, and I'm interested in interface design and front-end development. I freelance as web designer and developer, and study Software Engineering in Gothenburg, Sweden.
			</p>
	
		</section>
	
	<section>
		<ul class="list links">
			<li><span>Twitter</span>
			<a href="http://twitter.com/johanbrook">@johanbrook</a></li>
			
			<li><span>Subscribe with RSS</span>
			<a href="http://johanbrook.com/feed">johanbrook.com/feed</a></li>
			
			<li><span>E-mail me</span>
			<a href="mailto:hi@johanbrook.com">hi at johanbrook . com</a></li>
		</ul>
		
		<small><a href="<?php link_to_page("about");?>" class="more-link">More contact stuff</a></small>
	</section>
	
	
</aside>