.button {
	$basecolor: $accent;
	
	display: inline-block;
	position: relative;
	
	font: bold 1em/#{$ratio} $sans;
	text-transform: uppercase;
	@include smooth;
	color: #fff;
	-webkit-tap-highlight-color: transparent;
	text-align: center;
	
	background-color: $basecolor;
	padding: 0 1em;
	@include border-radius(3px);
	@include box-shadow(0 5px 0 darken($basecolor, 20%), 0 6px .5em rgba(0,0,0,.35));
	
	&:hover {
		background-color: saturate(lighten($basecolor, 1%), 10%);
	}
	
	&:active {
		top: 3px;
		background-color: darken($basecolor, 4%);
		color: #f6f6f6;
		@include box-shadow(0 2px 0 darken($basecolor, 30%), 0 4px .3em rgba(0,0,0,.35));
	}
}