/* COMMON SETTINGS FOR VARIOUS ELEMENTS */

img,
object,
embed,
video {
	max-width: 100%;
	height: auto;
}

/* iframes don't like height: auto */
iframe {
	max-width: 100%;
}

p, ul, ol, blockquote, figure, pre, dl {
	margin-bottom: $lineheight;
}

small {
	font-size: .9em;
}

hr {
	border: 0;
	height: 1px;
	width: 10%;
	background-color: #cecece;
	margin: $lineheight 0;
}

dt {
	font-family: $sans;
}

strong, figcaption {
	font-family: $sans;
}

figcaption {
	text-align: center;
}

del, figcaption {
	color: $gray;
}


blockquote {
	font-family: $sans;
	color: $gray;
	border-left: 2px solid $accent;
	padding: 0 5%;
	
	footer {
		font-family: $serif;
		font-size: .9em;
		font-style: italic;
		color: $bodycolor;
	}
}


/* TABLES */

table {
	width: 100%;
}

th {
	font-family: $sans;
	text-align: left;
}

tbody tr {
	border-top: 1px dotted #ccc;
	
	&:hover {
		background-color: transparentize($accent, .9);
	}
}

td, th {
	padding: .5em .3em;
}


/* HEADINGS */

h1, h2, h3, h4, h5 {
	font-family: $heading;
	font-weight: normal;
	color: #000;
	
	a:hover {
		background-color: inherit;
	}
}

hgroup {
	margin-bottom: $lineheight;
	h1 {
		margin-bottom: 0;
	}
}

.huge {
	@include rem(39);
}

.sub {
	@include rem(18);
	color: $gray;
}

h1 {
	@include rem(28);
	margin-bottom: 1em;
}

h2 {
	@include rem(22);
}

h3 {
	@include rem(18);
}

h4 {
	font-family: $sans;
	@include smooth;
	@include rem(14);
}


/* LINKS */

a {
	color: $accent;
	text-decoration: none;
	position: relative;
	padding: 0 2px;
}

a:hover {
	background-color: $accent;
	color: #fff;
	text-decoration: none;
}

a:active {
	top: 1px;
}

a.read-more {
	@extend .button;
	font-size: 1.1em;
}



/* CODE */

pre, code {
	font-family: $mono;
}

code {
	background-color: #eee;
	border-bottom: 1px solid #ddd;
	padding: 0 .2em;
}

pre {
	//background-color: #222;
	//color: #fff;
	background-color: #f6f6f6;
	border: 1px solid #ccc;
	padding: $lineheight 3%;
	font-size: .9em;
	position: relative;
	
	code {
		background: none;
		border: 0;
		padding: 0;
	}
	
	&::after {
		display: block;
		position: absolute;
		right: 1%;
		bottom: 0;
		content: attr(class);
		text-transform: uppercase;
		@include rem(12);
	}
}

kbd {
	font: bold .8em/#{$ratio} $sans;
	background-color: #eee;
	padding: 0 2px;
	text-transform: uppercase;
}