/* HELPER CLASSES */

.ingress {
	color: $gray;
	font-size: 1.1em;
	
	strong {
		color: $bodycolor;
		text-transform: uppercase;
		letter-spacing: .1em;
	}
}


.meta, .no-content {
	color: $gray;
}

.sep {
	color: $gray;
	display: inline-block;
	margin: 0 .3em;
}


.suphead {
	font-family: $sans;
	font-style: normal;
	@include rem(13);
	position: relative;
	cursor: help;
	display: block;
	
	.label {
		text-transform: uppercase;
		color: #fff;
		font-size: .8em;
		@include border-radius(.2em);
		background-color: $accent;
		padding: 1px .3em;
		border: 1px solid transparent;
		
		&:hover {
			background-color: darken($accent, 10%);
			border-color: darken($accent, 20%);
		}
	}
	
	.link-url {
		@include transition(width, .7s, cubic-bezier(0.190, 1.000, 0.220, 1.000), .8s);
		width: 0;
		top: 0;
		left: 9%;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		display: inline-block;
		color: $gray;
	}
}

@media all and (min-width: 600px){
	header:hover .link-url{
		width: 100%;
	}
}



.more-link::after {
	
}


/* Lists */

.horizontal li{
	display: inline-block;
}

.list {
	list-style: none;
}


/* Clearfix */

.group{
	@include clearfix;
}


/* Handy classes */

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.alignmiddle {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.hidden {
	display: none;
}

.visuallyhidden {
	position: absolute;
	left: -999em;
}