#github-commits {
	
	ul {
		font-family: $mono;
	}
	
	.hash {
		@extend code;
		font-weight: normal;
		color: $bodycolor;
	}
	
	li, .commit-message {
		display: block;
	}
	
	li {
		border-bottom: 1px solid #e2e2e2;
		padding: .5em 0;
		margin-bottom: .5em;
	}
	
	time {
		font-family: $sans;
		color: $gray;
		@include rem(12);
	}
}