/* POSTS */

[role="article"]{
	header {
		h1 a {
			color: inherit;
			text-decoration: none;
		}
		
		
		.meta {
			font-family: $sans;
			text-transform: uppercase;
			font-size: .8em;
		}
		
		.post-nav {
			font-family: $sans;
			text-transform: none;
			text-align: right;
			margin: 0;
		}
	}
	
	
	/* Linked posts */
	
	&.link {
		header{
			h1 {
				@include rem(18);
				
				a:hover {
					background-color: $bodycolor;
					color: #fff;
				}
			}
		}
	}
	
	.read-more-container {
		text-align: right;
	}
}

.post-text {
	p strong {
		font-size: 1.1em;
	}
	small {
		color: $gray;
		font-family: $sans;
	}
	
	p ~ h2 {
		margin-top: $lineheight;
	}
}

/* SINGLE POST */

.single [role="article"]{
	header {
		h1 {
			@extend .huge;
		}
	}
}