<header role="banner">
	<h1>
		- if(is_home())
			= link_to(get_bloginfo("name"), get_bloginfo("url"))
		- else
			= link_to("Home", get_bloginfo("url"))
	</h1>
</header>

<aside role="complementary">

</aside>