<header class="desc">
	<p>
		I'm <strong>Johan</strong>, and I'm interested in interface design and front-end development. I freelance as web designer and developer, and study Software Engineering in Gothenburg, Sweden.
	</p>
	
	<p>
		I <a href="#">code</a>, <a href="#">design</a>, and <a href="#">write</a>. You might also want to <a href="#">read more about me</a>.
	</p>
</header>

- if(have_posts())
	- while(have_posts())
		- the_post()
	
		= render_partial("posts/post")