
/* MAIN */


@import "common";


html{
	background: #fff;
}

body {
	@include clearfix;
	font: normal #{$fontsize}/#{$ratio} $serif;
	margin: $lineheight*2 10%;
	
	color: $bodycolor;
	-webkit-tap-highlight-color: $accent;
}


[role="main"]{
	float: left;
	width: $main_col;
	
	& > header:first-child{
		margin-bottom: $lineheight*3 - .2em;
		border-bottom: .2em solid $accent;
	}
}

.sidebar {
	float: left;
	width: $side_col;
	padding-right: 3%;
}


/* HEADINGS */

h1, h2, h3, h4, h5 {
	font-family: $sans;
	font-weight: bold;
	color: #000;
	@include smooth;
}

.huge {
	@include rem(39);
}

h1 {
	@include rem(28);
	margin-bottom: 1em;
	line-height: 28/$leading;
}

h2 {
	@include rem(24);
}

h3 {
	@include rem(18);
}

h4 {
	@include rem(14);
}


/* LINKS */

a, a:visited {
	color: $accent;
	text-decoration: none;
}

a:hover {
	color: darken($accent, 10%);
	text-decoration: underline;
}


@import "layouts/header";
@import "views/post";



/* Text and image selection styling */

::selection{
	background: $accent;
	color: #fff;
}
::-moz-selection{
	background: $accent;
	color: #fff;
}

img::selection{
	background: transparent;
}
img::-moz-selection{
	background: transparent;
}
