
/* MAIN */


@import "common";


html{
	background: #fff;
}

body {
	@include clearfix;
	font: normal #{$fontsize}/#{$ratio} $serif;
	margin: $lineheight*2 10%;
	
	color: $bodycolor;
	-webkit-tap-highlight-color: $accent;
}


[role="main"]{
	float: left;
	width: $main_col;
	
	& > header:first-child{
		margin-bottom: $lineheight*3 - .2em;
		border-bottom: .2em solid $accent;
	}
}

.sidebar {
	float: left;
	width: $side_col;
	padding-right: 3%;
}


@import "layouts/sidebar";
@import "layouts/footer";
@import "views/home";
@import "views/post";


#wpstats {
	display: none;
}

/* Text and image selection styling */

::selection{
	background: $accent;
	color: #fff;
}
::-moz-selection{
	background: $accent;
	color: #fff;
}

img::selection{
	background: transparent;
}
img::-moz-selection{
	background: transparent;
}
