

@media screen and (max-width: 70em){
	
	body {
		margin: 0 15% $lineheight;
	}
	
	
	[role="banner"] {
		margin-bottom: $lineheight;
		
		h1 {
			margin: 0;
			height: auto;
			width: auto;
		}
		
		h1 a{
			background: none;
			color: $bodycolor;
			line-height: 1;
			display: inline;
			height: auto;
			
			&:hover{
				color: inherit;
				background: inherit;
			}
		}
	}
	
	[role="navigation"] {
		max-width: none;
		margin: $lineheight 0 0;
		
		li {
			width: 24%;
		}
	}
	
	[role="main"],
	.sidebar {
		float: none;
		width: auto;
		margin: 0;
		border-top: 0;
		padding-top: 0;
	}
	
	.sidebar {
		
		section {
			width: 100%;
		}
		
		.links {
			@include clearfix;
			text-align: left;
			
			li {
				float: left;
				width: 33%;
			}
			
			& ~ small {
				display: none;
			}
		}
	}
}


/*	=SMALL SCREENS
----------------------------------------------------------------------*/

@media screen and (max-width: 45em){
	body {
		margin-left: 8%;
		margin-right: 8%;
		@include rem(14);
	}
	
	.huge {
		@include rem(28);
	}
	
	h1 {
		@include rem(24);
	}
	
	[role="article"] header .post-nav {
		text-align: center;
	}
	
	.hide-mobile {
		display: none;
	}
	
	
	.sidebar{
		
		.links{
			display: none;
		}
	}
	
	
	#contact table {
		td:nth-child(4n+1),
		th:nth-child(4n+1),
		td:nth-child(4n+3),
		th:nth-child(4n+3){
			display: none;
		}
	}
	
	[role="article"] .read-more-container {
		text-align: center;
	}
	
	[role="contentinfo"] {
		text-align: center;
		
		hr {
			float: none;
			margin: 0 auto;
		}
	}
}