

@media screen and (max-width: 60em){
	
	body {
		margin: $lineheight 15%;
	}
	
	[role="banner"] {
		margin-bottom: $lineheight;
		
		h1 {
			margin: 0;
			height: auto;
			width: auto;
		}
		
		h1 a{
			background: none;
			color: $bodycolor;
			line-height: 1;
			display: inline;
			height: auto;
			
			&:hover{
				color: inherit;
				background: inherit;
			}
		}
	}
	
	[role="main"],
	.sidebar {
		float: none;
		width: auto;
		margin: 0;
	}
	
	.sidebar {
		
		section {
			width: 100%;
		}
		
		.links {
			@include clearfix;
			text-align: left;
			
			li {
				float: left;
				width: 33%;
			}
			
			& ~ small {
				display: none;
			}
		}
	}
}


@media screen and (max-width: 479px){
	body {
		margin-left: 8%;
		margin-right: 8%;
	}
	
	[role="navigation"] {
		max-width: none;
		margin: $lineheight 0 0;
		
		li {
			width: 24%;
		}
	}
	
	.sidebar{
		
		.links{
			display: none;
		}
	}
	
	
	/* Make 'read more' links looks like buttons: */
	.read-more {
		@include jb_button;
		display: block;
	}
	
	[role="contentinfo"] {
		text-align: center;
		
		hr {
			float: none;
			margin: 0 auto;
		}
	}
}