

/*	=MEDIUM SCREENS, like tablets
----------------------------------------------------------------------*/


@media screen and (max-width: 60em){
	
	body {
		margin: 0 10% $lineheight;
	}
	
	
	[role="banner"] {
		margin-bottom: $lineheight;
		float: left;
		position: relative;
		top: $lineheight;
		
		h1 {
			@include transition(width .2s ease-out);
		}
	}
	
	[role="navigation"] {
		max-width: none;
		margin: $lineheight 0 0;
		text-align: left;
		
		li {
			width: 16%;
			margin:	0;
			text-align: center;
		}
	}
	
	[role="complementary"] {
		float: left;
		width: 75%;
		padding-left: 5%;
		position: relative;
		top: 1em;
	}
	
	[role="main"],
	.sidebar {
		float: none;
		width: auto;
		margin: 0;
		border-top: 0;
		padding-top: 0;
	}
	
	.hide-medium {
		display: none;
	}
	
	.sidebar {
		@include clearfix;
		
		section {
			width: 100%;
			margin-top: 1em;
		}
		
		.links {
			@include clearfix;
			text-align: left;
			
			li {
				float: left;
				width: 33%;
			}
			
			& ~ small {
				display: none;
			}
		}
	}
}


/*	=SMALL SCREENS (inherits from 'Medium Screens')
----------------------------------------------------------------------*/

@media screen and (max-width: 45em){
	body {
		margin-left: 8%;
		margin-right: 8%;
		@include rem(14);
	}
	
	.sidebar {
		margin-bottom: $lineheight*2 + .618em; 		// Fix the vertical rhythm
	}
	
	[role="banner"] {
		h1 {
			$size: 4.235em;
			height: $size;
			width: $size;
		}
		h1 a {
			@include rem(13);
			padding-top: 2em;
			font-weight: bolder;
			letter-spacing: 1px;
			line-height: 1.618;
		}
	}
	
	[role="complementary"] {
		width: 70%;
	}
	
	[role="navigation"] {
		border: 0;
		
		ul {
			@include clearfix;
		}
		li {
			width: 33%;
			float: left;
		}
	}
	
	.huge {
		@include rem(28);
	}
	
	h1 {
		@include rem(24);
	}
	
	[role="article"] header .post-nav {
		text-align: center;
	}
	
	.hide-mobile {
		display: none;
	}
	
	
	.sidebar{
		
		.links{
			display: none;
		}
	}
	
	
	#contact table {
		td:nth-child(4n+1),
		th:nth-child(4n+1),
		td:nth-child(4n+3),
		th:nth-child(4n+3){
			display: none;
		}
	}
	
	[role="article"] .read-more-container {
		text-align: center;
	}
	
	[role="contentinfo"] {
		text-align: center;
		
		hr {
			float: none;
			margin: 0 auto;
		}
	}
}