// Colours

$accent:		#d5253e;
$bodycolor:		#323232;
$gray:			#7f7f7f;

// Fonts

$sans:			"Lato", "Helvetica Neue", Arial, sans-serif;
$serif:			"PT Serif", Georgia, serif;
$mono:			Inconsolata, Monaco, Courier, monospace;
$heading:		Bitter, Arvo, Rockwell, $sans;

// Measures

$spacing:		4%;
$main_col:		61.8%;
$side_col:		100% - $main_col - $spacing;

// Typography

$size:			16;
$leading:		24;

$fontsize:		$size/16 * 1rem;
$ratio:			$leading/$size;

$lineheight:	$ratio*1em;