@import "lib/normalize";
@import "bourbon/bourbon";
@import "variables";
@import "lib/mixins";

$gray:		#888;

/*	=CUSTOM TUMBLR STYLING
----------------------------------------------------------------------*/
html {
	background-color: #fff;
}
	
body {
	margin: $lineheight*2 auto;
	width: 80%;
	max-width: 60em;
	font: normal .938em/1.5 Inconsolata, Menlo, Monaco, Courier, monospace;
	color: #323232;
}

img,
object,
embed {
	max-width: 100%;
	height: auto;
}


a {
	color: $accent;
	text-decoration: none;
	
	&:hover {
		text-decoration: underline;
		color: #000;
	}
}


h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	font-weight: normal;
}


[role="banner"] {
	text-align: center;
	padding-bottom: $lineheight;
	
	h1 {
		font-family: $heading;
		font-size: 2em;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 0;
		
		a {
			color: #000;
		}
	}
	
	h2 {
		color: $gray;
	}
}

[role="navigation"] {
	text-align: center;
	margin: $lineheight 0;
	font-size: .9em;
	text-transform: lowercase;
	
	li {
		display: inline;
		margin: 0 2em;
	}
}


[role="article"] {
	margin-bottom: $lineheight*3;
	padding-bottom: $lineheight*2;
	border-bottom: 1px dotted #ddd;
	
	header {
		text-align: center;
		margin-bottom: $lineheight*2;
		
		h1 {
			font-size: 1.1em;
		}
		
		time {
			color: darken($gray, 30%);
		}
	}
	
	
	.post-text {
		margin: $lineheight auto 0;
		max-width: 35em;
		width: 100%;
	}
	
	p, ul, ol {
		margin: 0 0 $lineheight;
	}
}

.sidebar, [role="main"] {
	float: none;
	width: 100%;
}

[role="main"] {
	margin-top: $lineheight*2;
}

blockquote {
	margin: 0 5% $lineheight;
	color: $gray;
}

.meta {
	color: $gray;
}

[role="contentinfo"] {
	text-align: center;
}


@media screen and (max-width: 60em) {
	body {
		margin-top: 0;
	}
	
	[role="banner"] {
		padding-bottom: 0;
		border-bottom: 1px dotted #ddd;
	}
	
	[role="navigation"] {
		li {
			margin: 0 .5em;
		}
	}
		
	[role="article"] {
		margin-bottom: $lineheight*2;
		padding-bottom: $lineheight;
	}
}