/*

	MASTER STYLESHEET
	johanbrook.com
	
	Crafted by Johan Brook

*/
/* normalize.css 2012-01-31T16:06 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

div,
hgroup,
h1,
h2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Neutralise smaller font-size in 'section' and 'article' in FF4+, Chrome, S5
 * Fix IE6/7 heading font-size not being relative to the root font-size
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted #ddd; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 0; }

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none; }

/* 2 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: outside square; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9 
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3 
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
	  Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/* 
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* MAIN */
/* HELPER CLASSES */
.ingress {
  color: #7f7f7f;
  font-size: 1.1em; }
  .ingress strong {
    color: #323232;
    text-transform: uppercase;
    letter-spacing: .1em; }

.meta, .no-content {
  color: #7f7f7f; }

.sep {
  color: #7f7f7f;
  display: inline-block;
  margin: 0 .3em; }

.suphead {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-size: 13px;
  /* Fallback */
  font-size: 0.813rem;
  position: relative;
  cursor: help;
  display: block; }
  .suphead .label {
    text-transform: uppercase;
    color: #fff;
    font-size: .8em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    border-radius: 0.2em;
    background-color: #d5253e;
    padding: 1px .3em;
    border: 1px solid transparent; }
    .suphead .label:hover {
      background-color: #aa1d31;
      border-color: #7e1625; }
  .suphead .link-url {
    -webkit-transition: width 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
    -moz-transition: width 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
    -o-transition: width 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
    -ms-transition: width 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
    transition: width 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
    width: 0;
    top: 0;
    left: 9%;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    display: inline-block;
    color: #7f7f7f; }

@media all and (min-width: 600px) {
  header:hover .link-url {
    width: 100%; } }
/* Lists */
.horizontal li {
  display: inline-block; }

.list {
  list-style: none; }

/* Clearfix */
.group {
  /* For IE 6/7 (trigger hasLayout) */ }
  .group::before, .group::after {
    content: "";
    display: table; }
  .group::after {
    clear: both; }
  .group {
    zoom: 1; }

/* Handy classes */
.right {
  text-align: right; }

.left {
  text-align: left; }

.center {
  text-align: center; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

.alignmiddle {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.hidden {
  display: none; }

.visuallyhidden {
  position: absolute;
  left: -999em; }

/* COMMON SETTINGS FOR VARIOUS ELEMENTS */
img,
object,
embed,
video {
  max-width: 100%;
  height: auto; }

p, ul, ol, blockquote, figure, pre, dl {
  margin-bottom: 1.6em; }

small {
  font-size: .9em; }

hr {
  border: 0;
  height: 1px;
  width: 10%;
  background-color: #cecece;
  margin: 1.6em 0; }

dt {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif; }

strong, figcaption {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif; }

del, figcaption {
  color: #7f7f7f; }

blockquote {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  color: #7f7f7f;
  border-left: 2px solid #d5253e;
  padding: 0 5%; }
  blockquote footer {
    font-family: "PT Serif", Georgia, serif;
    font-size: .9em;
    font-style: italic;
    color: #323232; }

/* TABLES */
table {
  width: 100%; }

th {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  text-align: left; }

tbody tr {
  border-top: 1px dotted #ccc; }
  tbody tr:hover {
    background-color: rgba(213, 37, 62, 0.1); }

td, th {
  padding: .5em .3em; }

/* HEADINGS */
h1, h2, h3, h4, h5 {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  color: #000;
  -webkit-font-smoothing: antialiased; }
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
    background: none; }

.huge, .single [role="article"] header h1 {
  font-size: 39px;
  /* Fallback */
  font-size: 2.438rem;
  line-height: 1.168; }

h1 {
  font-size: 28px;
  /* Fallback */
  font-size: 1.75rem;
  line-height: 1.168;
  margin-bottom: 1em; }

h2 {
  font-size: 24px;
  /* Fallback */
  font-size: 1.5rem;
  line-height: 1.168; }

h3 {
  font-size: 18px;
  /* Fallback */
  font-size: 1.125rem;
  color: #7f7f7f; }

h4 {
  font-size: 14px;
  /* Fallback */
  font-size: 0.875rem; }

/* LINKS */
a {
  color: #d5253e;
  text-decoration: none;
  position: relative; }

a:hover {
  color: #bf2138;
  background-color: rgba(213, 37, 62, 0.05);
  text-decoration: underline; }

a:active {
  top: 1px; }

a.read-more {
  font-size: 1.1em; }

/* CODE */
pre, code {
  font-family: Inconsolata, Monaco, Courier, monospace; }

code {
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  padding: 0 .2em; }

pre {
  background-color: #222;
  color: #fff;
  padding: 1.6em 3%;
  font-size: .9em; }
  pre code {
    background: none;
    border: 0;
    padding: 0; }

kbd {
  font: bold 0.8em/1.6 "Lato", "Helvetica Neue", Arial, sans-serif;
  background-color: #eee;
  padding: 0 2px;
  text-transform: uppercase; }

.columns, .columns-two, .columns-three, .columns-four {
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
  -webkit-column-rule: 1px solid #e2e2e2;
  -moz-column-rule: 1px solid #e2e2e2;
  column-rule: 1px solid #e2e2e2; }

.columns-two {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2; }

.columns-three {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3; }

.columns-four {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4; }

html {
  background: #fff; }

body {
  /* For IE 6/7 (trigger hasLayout) */
  font: normal 0.938rem/1.6 "PT Serif", Georgia, serif;
  margin: 3.2em 10%;
  color: #323232;
  -webkit-tap-highlight-color: #d5253e; }
  body::before, body::after {
    content: "";
    display: table; }
  body::after {
    clear: both; }
  body {
    zoom: 1; }

[role="main"] {
  float: left;
  width: 61.8%; }
  [role="main"] > header:first-child {
    margin-bottom: 4.6em;
    border-bottom: 0.2em solid #d5253e; }

.sidebar {
  float: left;
  width: 38.2%;
  padding-right: 3%; }

[role="banner"] h1 {
  text-transform: uppercase;
  height: 4.8em;
  width: 4.8em;
  margin: 0 auto; }
[role="banner"] h1 a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  -ms-border-radius: 10em;
  -o-border-radius: 10em;
  border-radius: 10em;
  display: block;
  height: 100%;
  line-height: 8em;
  font-size: 16px;
  /* Fallback */
  font-size: 1rem;
  background-color: #d5253e;
  color: #fff;
  text-decoration: none; }
  [role="banner"] h1 a:hover {
    background-color: #323232; }
  [role="banner"] h1 a.gotohome {
    background-image: image-url("home.svg");
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -999em; }

[role="navigation"] {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  color: #9f9f9f;
  text-transform: uppercase;
  font-size: .8em;
  border-bottom: 3px double #ddd;
  max-width: 70%;
  margin: 3.2em auto; }
  [role="navigation"] li {
    display: inline-block;
    width: 48%;
    margin-bottom: 1px; }
    [role="navigation"] li:nth-child(odd) {
      border-left: 0; }
    [role="navigation"] li:last-child, [role="navigation"] li:nth-child(5) {
      border-bottom: 0; }
    [role="navigation"] li a {
      display: block;
      line-height: 3.2em;
      -webkit-border-radius: 0.3em;
      -moz-border-radius: 0.3em;
      -ms-border-radius: 0.3em;
      -o-border-radius: 0.3em;
      border-radius: 0.3em; }
      [role="navigation"] li a:hover {
        color: #fff;
        background: #d5253e;
        text-decoration: none; }
    [role="navigation"] li.current_page_item a,
    [role="navigation"] li a:active {
      top: auto;
      background: #d5253e;
      color: #fff;
      -webkit-box-shadow: compact(inset rgba(0, 0, 0, 0.6) 0 1px 0.3em, false, false, false, false, false, false, false, false);
      -moz-box-shadow: compact(inset rgba(0, 0, 0, 0.6) 0 1px 0.3em, false, false, false, false, false, false, false, false);
      -ms-box-shadow: compact(inset rgba(0, 0, 0, 0.6) 0 1px 0.3em, false, false, false, false, false, false, false, false);
      -o-box-shadow: compact(inset rgba(0, 0, 0, 0.6) 0 1px 0.3em, false, false, false, false, false, false, false, false);
      box-shadow: compact(inset rgba(0, 0, 0, 0.6) 0 1px 0.3em, false, false, false, false, false, false, false, false); }
  [role="navigation"] .secondary-nav {
    font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    font-size: .8em; }
    [role="navigation"] .secondary-nav li {
      margin-right: 4%; }
      [role="navigation"] .secondary-nav li:last-child {
        margin-right: 0; }
    [role="navigation"] .secondary-nav a {
      color: #9f9f9f; }

.sidebar {
  text-align: center; }
  .sidebar h2 {
    font-size: 12px;
    /* Fallback */
    font-size: 0.75rem;
    color: #444;
    text-transform: uppercase; }
  .sidebar dd {
    margin-bottom: 0.8em; }
  .sidebar .links span {
    display: block; }
  .sidebar .links li {
    margin-bottom: 0.8em; }
  .sidebar section {
    color: #999999;
    font-size: 14px;
    /* Fallback */
    font-size: 0.875rem;
    width: 80%;
    margin: 3.2em auto 0; }

[role="contentinfo"] {
  clear: both;
  text-align: right;
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  color: #7f7f7f; }
  [role="contentinfo"] hr {
    float: right; }
  [role="contentinfo"] p {
    clear: right; }

.home [role="article"] {
  margin-bottom: 6.4em; }
  .home [role="article"]:last-of-type {
    margin-bottom: 0; }

/* POSTS */
[role="article"] {
  /* Linked posts */ }
  [role="article"] header h1 a {
    color: inherit;
    text-decoration: none; }
  [role="article"] header .meta {
    font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase; }
  [role="article"] header small.meta {
    font-size: .8em; }
  [role="article"].link header h1 {
    font-size: 18px;
    /* Fallback */
    font-size: 1.125rem; }

.post-text p strong {
  font-size: 1.1em; }
.post-text small {
  color: #7f7f7f;
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif; }
.post-text p ~ h2 {
  margin-top: 1.6em; }

/* SINGLE POST */
/* Text and image selection styling */
::selection {
  background: #d5253e;
  color: #fff; }

::-moz-selection {
  background: #d5253e;
  color: #fff; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

@media screen and (max-width: 60em) {
  body {
    margin: 1.6em 15%; }

  [role="banner"] {
    margin-bottom: 1.6em; }
    [role="banner"] h1 {
      margin: 0;
      height: auto;
      width: auto; }
    [role="banner"] h1 a {
      background: none;
      color: #323232;
      line-height: 1;
      display: inline;
      height: auto; }
      [role="banner"] h1 a:hover {
        color: inherit;
        background: inherit; }

  [role="main"],
  .sidebar {
    float: none;
    width: auto;
    margin: 0; }

  .sidebar section {
    width: 100%; }
  .sidebar .links {
    /* For IE 6/7 (trigger hasLayout) */
    text-align: left; }
    .sidebar .links::before, .sidebar .links::after {
      content: "";
      display: table; }
    .sidebar .links::after {
      clear: both; }
    .sidebar .links {
      zoom: 1; }
    .sidebar .links li {
      float: left;
      width: 33%; }
    .sidebar .links ~ small {
      display: none; } }
@media screen and (max-width: 479px) {
  body {
    margin-left: 8%;
    margin-right: 8%; }

  [role="navigation"] {
    max-width: none;
    margin: 1.6em 0 0; }
    [role="navigation"] li {
      width: 24%; }

  .sidebar .links {
    display: none; }

  #contact table td:nth-child(4n+1),
  #contact table th:nth-child(4n+1),
  #contact table td:nth-child(4n+3),
  #contact table th:nth-child(4n+3) {
    display: none; }

  /* Make 'read more' links looks like buttons: */
  .read-more {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    border-radius: 0.2em;
    -webkit-box-shadow: compact(rgba(0, 0, 0, 0.1) 0 0 5px, false, false, false, false, false, false, false, false);
    -moz-box-shadow: compact(rgba(0, 0, 0, 0.1) 0 0 5px, false, false, false, false, false, false, false, false);
    -ms-box-shadow: compact(rgba(0, 0, 0, 0.1) 0 0 5px, false, false, false, false, false, false, false, false);
    -o-box-shadow: compact(rgba(0, 0, 0, 0.1) 0 0 5px, false, false, false, false, false, false, false, false);
    box-shadow: compact(rgba(0, 0, 0, 0.1) 0 0 5px, false, false, false, false, false, false, false, false);
    background-color: #d5253e;
    padding: .1em .4em;
    color: #fff;
    font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: block; }
    .read-more:hover {
      color: #fff;
      text-decoration: none;
      background-color: #bf2138; }
    .read-more:active {
      top: auto;
      -webkit-box-shadow: compact(inset rgba(0, 0, 0, 0.6) 0 1px 0.3em, false, false, false, false, false, false, false, false);
      -moz-box-shadow: compact(inset rgba(0, 0, 0, 0.6) 0 1px 0.3em, false, false, false, false, false, false, false, false);
      -ms-box-shadow: compact(inset rgba(0, 0, 0, 0.6) 0 1px 0.3em, false, false, false, false, false, false, false, false);
      -o-box-shadow: compact(inset rgba(0, 0, 0, 0.6) 0 1px 0.3em, false, false, false, false, false, false, false, false);
      box-shadow: compact(inset rgba(0, 0, 0, 0.6) 0 1px 0.3em, false, false, false, false, false, false, false, false); }

  [role="contentinfo"] {
    text-align: center; }
    [role="contentinfo"] hr {
      float: none;
      margin: 0 auto; } }
