[role="banner"] {
	$width: $lineheight*3;
	
	h1 {
		text-transform: uppercase;
		height: $width;
		width: $width;
		margin: 0 auto;
	}
	
	h1 a {
		@include box-sizing(border-box);
		@include border-radius(10em);
		display: block;
		height: 100%;
		
		font-weight: normal;
		line-height: 8em;
		@include rem(16, false);
		background-color: $accent;
		color: #fff;
		
		text-decoration: none;
		
		&:hover{
			background-color: $bodycolor;
		}
		
		&.gotohome {
			background-image: url("../images/home.svg");
			background-repeat: no-repeat;
			background-position: center center;
			text-indent: -999em;
		}
	}
}