[role="navigation"],
.subpages,
.secondary-nav {
	max-width: 70%;
	font-family: $sans;
	text-transform: uppercase;
	font-size: .8em;
}

[role="navigation"] {
	color: #9f9f9f;
	border-bottom: 3px double #ddd;
	margin: $lineheight*2 auto;
	
	li {
		display: inline-block;
		width: 48%;
		margin-bottom: 1px;
		
		&:nth-child(odd){
			border-left: 0;
		}
		
		&:last-child, &:nth-child(5){
			border-bottom: 0;
		}
		
		a {
			display: block;
			line-height: $lineheight*2;
			font-weight: bold;
			@include smooth;
			@include border-radius(.3em);
			
			&:hover {
				color: #fff;
				background: $accent;
				text-decoration: none;
			}
			
			
		}
		
		&.current_page_item a,
		a:active {
			top: auto;
			background: $accent;
			color: #fff;
			@include box-shadow(inset rgba(0, 0, 0, 0.6) 0 1px .3em);
		}
	}
	
	
	.secondary-nav {
		$space: .3em;
		
		li {
			margin-right: 4%;
			
			&:last-child{
				margin-right: 0;
			}
		}
		
		a {
			color: #9f9f9f;
		}
	}
	
}

.subpages {
	margin: 0 auto;
	
	li:first-child a{
		@include border-radius(.3em .3em 0 0);
	}
	li:last-child a {
		@include border-radius(0 0 .3em .3em);
	}
	
	a {
		display: block;
		padding: .3em 0;
		
		&.current_page_item {
			background-color: $accent;
			color: #fff;
		}
	}
}