[role="navigation"] {
	font-family: $sans;
	color: #9f9f9f;
	text-transform: uppercase;
	font-size: .8em;
	border-bottom: 3px double #ddd;
	max-width: 70%;
	margin: $lineheight*2 auto;
	
	li {
		display: inline-block;
		width: 48%;
		margin-bottom: 1px;
		
		&:nth-child(odd){
			border-left: 0;
		}
		
		&:last-child, &:nth-child(5){
			border-bottom: 0;
		}
		
		a {
			display: block;
			line-height: $lineheight*2;
			@include border-radius(.3em);
			
			&:hover {
				color: #fff;
				background: $accent;
				text-decoration: none;
			}
			
			
		}
		
		&.current_page_item a,
		a:active {
			top: auto;
			background: $accent;
			color: #fff;
			@include box-shadow(inset rgba(0, 0, 0, 0.6) 0 1px .3em);
		}
	}
	
	
	.secondary-nav {
		$space: .3em;
		
		font-family: $sans;
		text-transform: uppercase;
		font-size: .8em;
		
		li {
			margin-right: 4%;
			
			&:last-child{
				margin-right: 0;
			}
		}
		
		a {
			color: #9f9f9f;
		}
	}
	
}