@import "header";
@import "navigation";

.sidebar {
	text-align: center;
	float: left;
	width: $side_col;
	margin-right: $spacing;
	
	@import "categories";
	
	h2 {
		@include rem(12);
		@include smooth;
		font-weight: bold;
		font-family: $sans;
		color: #444;
		text-transform: uppercase;
	}
	
	dd {
		margin-bottom: $lineheight/2;
	}
	
	.links {
		
		li {
			margin-bottom: $lineheight / 2;
		}
	}
	
	section {
		color: lighten($gray, 10%);
		@include rem(14, false);
		margin: $lineheight*2 0 0;
	}
	
	.links a, .subpages a {
		color: $gray;
		@include transition(color 3s);
	}
}

[role="complementary"] {
	max-width: 70%;
	margin: 0 auto;
	
	&:hover .subpages a,
	&:hover .links a {
		color: $accent;

		&:hover {
			color: #fff;
		}
	}
}